/* background */
body{
    margin:0;
    padding:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: "Segoe UI", sans-serif;
    background: linear-gradient(135deg,  #90e0ef, #ffafcc, #c77dff);
    background-size:400% 400%;
    animation: bgMove 12s ease infinite;
}

/* animated gradient */
@keyframes bgMove{
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}
}

/* glass container */
form{
    backdrop-filter: blur(20px);
    background: rgba(255,255,255,0.25);
    padding:40px 50px;
    border-radius:25px;
    box-shadow:0 8px 30px rgba(0,0,0,0.15);
    width:350px;
    text-align:center;
}

/* heading */
h2{
    position:absolute;
    top:60px;
    text-align:center;
    width:100%;
    font-size:28px;
    color:#333;
}

/* inputs */
input, select{
    width:100%;
    padding:12px;
    border-radius:12px;
    border:none;
    margin-top:8px;
    margin-bottom:15px;
    outline:none;
    background: rgba(255,255,255,0.6);
    font-size:14px;
    box-shadow: inset 0 2px 5px rgba(0,0,0,0.08);
}

/* focus glow */
input:focus, select:focus{
    background:white;
    box-shadow:0 0 8px rgba(255,182,193,0.6);
}

/* button */
button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:14px;
    background:#ffc8dd;
    font-weight:bold;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#bde0fe;
    transform:scale(1.05);
}

/* mobile responsive */
@media(max-width:500px){
    form{
        width:85%;
        padding:30px;
    }

    h2{
        font-size:22px;
        top:40px;
    }
}
