body {
    margin: 0;
    overflow-x: hidden;
    background: linear-gradient(135deg, #90e0ef, #ffafcc, #c77dff);
    background-size: 400% 400%;
    font-family: cursive;
    animation: gradientMove 10s ease infinite;
}

/* background animation */
@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


/* center section */
.welcome-section {
    height: 100vh;
    padding: 20px;
    text-align: center;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* glass card */
.glass-card {
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.25);
    padding: 50px;
    border-radius: 27px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.1);
    text-align: center;
    width: 350px;
}

/* logo */
.logo {
    display: flex;
    justify-content: center;
    height: 90px;
    width: 90px;
    padding: 10px;
    padding-left: 120px;
}

/* text */
.tagline {
    font-size: 18px;
    margin-top: 10px;
    line-height: 1.6;
}

.scroll-text {
    margin-top: 25px;
    font-size: 14px;
    opacity: 0.7;
}

/* auth section */
.auth-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.auth-card h2 {
    margin-bottom: 25px;
}

/* buttons */
.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    padding: 12px 25px;
    border-radius: 15px;
    text-decoration: none;
    background:#ffc8dd;
    backdrop-filter: blur(10px);
    color:black;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.08);
    background: #caf0f8;
}

.secondary {
    background:#ffc8dd;
}





